<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:description="@string/module_description"
        android:fullBackupContent="false"
        android:hasCode="true"
        android:icon="@drawable/ic_module"
        android:label="@string/app_name"
        android:supportsRtl="true" />
</manifest>
